body {
   background-color:#DDD;
   background-image: 
}
[class*="span"] {
   margin-top: 10px;
   margin-bottom: 10px;
}
#formulaire {
   background-color:#CCC;
   padding: 10px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
.navbar-inner {
  min-height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
#bannerOuter,
#bannerWrapper, 
#banner,
.pageHeader {
  height : 400px;
}
#bannerOuter {
  display: block;
  position: relative;
  z-index: 5;
  padding: 0;
  padding-bottom : 14px;
}
#bannerWrapper {
  display: block;
  position: relative;
  z-index: 5;
  margin: 0 auto;
  padding: 0;
}
#bannerBorder {
  display: block;
  border: 1px solid #DCDCDC;
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#banner {
  margin:6px;
  background-image: url(image/bg1-revu.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
#extraContainer4 {
  display: block;
  position: relative;
}

#footer {
font-size: 1em;
background:#cccccc;
padding: 10px 10px 0 0;
clear: both;
width: 100%;
}

#footer p{
text-align: right;
font-size: 1em;
padding: 0 10px 20px 0;
}
.comments-template{
	margin: 10px 0 0 0;
}
 
.comments-template ol{
	margin: 10px;
	padding: 0 0 0 15px;
	list-style: none;
}
 
.comments-template ol p{
	font-family: Trebuchet MS, Arial, Hevletica, Sans-serif;
	font-size: 0.9em;
}
 
.comments-template ol li{
	margin: 10px 0 0 0;
	line-height: 15px;
	padding: 0 0 10px;
}
 
.comments-template h2, .comments-template h3{
	font-size: 1.2em;
}
 
.commentmetadata{
	font-size: 0.9em;
}
 
.comments-template p.nocomments{
	padding: 0;
}
 
.comments-template textarea{
	font-family: Trebuchet MS, Arial, Hevletica, Sans-serif;
	font-size: 0.9em;
}

.cadre_commentaires {
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
}
 #content {
float: left;
width: 70%;
margin-bottom: 20px;
margin-left:5%;
}
#content h2 a{
font-size: 1.2em;
font-family: Century Gothic, Lucida Grande, Verdana, Arial, Sans-Serif;
color: #006699;
}

#content h2 a:hover{
color: #555;
}

#content h2 {
font-size: 1.3em;
}